.userPhoto{
    width: 100px;
    height: 100px;
}
.selectedPage{
    color: red;
}
.preloader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img {
    width: auto;
    height: 100%;
}