.header{
  grid-area: h;
  background: #304159;
  box-shadow: 0 5px 15px 0 rgba(43, 61, 86, 0.4);
}
.header img{
  max-width: 100px;
  max-height: 50px;
}
.loginBlock{
  float: right;
}
.loginBlock a {
  color: white;
}